<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GLRY</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="style.css">
    <script src="data.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <div class="columns is-multiline is-mobile m-0" id="grid"></div>
    </div>

    <div class="glry-menu">
      <div id="glry-menu-content" class="hidden">
        <a href="#" onclick="clearAndLoadPhotos(null)">All</a>
      </div>
      <div class="btn" onclick="onMenuClick()">&#10247;</div>
    </div>

    <div id="bottom"></div>

    <script>
      const pageSize = 100;
      let page = 0;
      let selectedYear = null;

      function createElement(file) {
        const formattedDate = new Date(file.d).toLocaleString("en-US",{ year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' });
        const div = document.createElement("div");
        div.classList.add("column", "is-one-third-mobile", "is-one-quarter-tablet", "is-one-fifth-widescreen", "p-1px");
        const a = document.createElement("a");
        a.href = "media/" + file.f + file.e;
        a.setAttribute('data-fancybox', 'gallery');
        a.setAttribute('data-caption', formattedDate);
        const figure = document.createElement("figure");
        figure.classList.add("image", "is-square");
        const img = document.createElement("img");
        img.src = "thumb/" + file.f + '.JPG';
        a.appendChild(figure);
        figure.appendChild(img);
        div.appendChild(a);
        document.getElementById("grid").appendChild(div);
      }

      const observer = new IntersectionObserver(function(entries) {
        if(entries[0].isIntersecting){
          page++;
          loadPhotos();
        }
      }, { threshold: [1] });

      observer.observe(document.getElementById('bottom'));

      function loadPhotos(){
        if(selectedYear){
          photos.filter(file => new Date(file.d).getFullYear() === selectedYear)
              .slice(page*pageSize, page*pageSize+pageSize)
              .forEach(file => { createElement(file); });
        } else {
          photos.slice(page*pageSize, page*pageSize+pageSize)
              .forEach(file => { createElement(file); });
        }
      }

      function clearAndLoadPhotos(year){
        page = 0 ;
        selectedYear = year;
        document.getElementById("grid").innerHTML = "";
        loadPhotos();
      }

      function loadYears(){
        const years = [...new Set(photos.map(f => new Date(f.d).getFullYear()))];
        const menu = document.getElementById('glry-menu-content');
        for(i in years){
          const a = document.createElement("a");
          a.innerHTML = years[i];
          a.addEventListener('click', (e)=>{ clearAndLoadPhotos(parseInt(a.innerHTML)) });
          menu.appendChild(a);
        }
      }

      function onMenuClick(){
        const menu = document.getElementById('glry-menu-content');
        const toggle = menu.classList.toggle("hidden");
        document.querySelector('.glry-menu .btn').innerHTML = toggle ? "&#10247;" : "&times;";
      }  

      window.onload = () => {
        loadPhotos();
      }
    </script>

    
  </body>
</html>
